:root {
  --color-primary: #34C94B;
  --color-black: #121212;
  --color-white: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.swiper-button-next,
.swiper-button-prev {
  pointer-events: all !important;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  pointer-events: none;
}